<form action="/profile" method="post">
<h2>Log in</h2>
<input name="username" placeholder="Username">
<input name="password" placeholder="Your password">
<button type="submit">Create account</button>
</form>