<form action="/signup" method="post">
<h2>Sign up</h2>
<input name="username" placeholder="Username">
<input name="password" placeholder="Your password">
<button type="submit">Create account</button>
</form>